<h1>Pokemones</h1>
<div class="container mb-2">
    <div id="info" class="row"></div>
    <div id="btn" type="button" class="btn btn-success btn__more" href="#">
        Quiero ver más pokemones
    </div>
</div>